.register__button {
    width: 358px;
    min-height: 50px;
    margin: 186px 0 0 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}